body{
    margin: 5%;
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: lighter;
    line-height: 20px;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.3rem;
}
.contenido{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
}

.card-1{
    background-color: hsl(31, 77%, 52%);
    padding: 50px;
}

.card-2{
    background-color: hsl(184, 100%, 22%);
    padding: 50px;
}

.card-3{
    background-color: hsl(179, 100%, 13%);
    padding: 50px;
}

.botones{
    width: 100%;
}

button{
   width: 130px;
   padding: 15px;
   border: none;
   border-radius: 25px;
   font-family: 'Lexend Deca', sans-serif;;
}
.btn-1{
    color: hsl(31, 77%, 52%);
}

.btn-2{
    color: hsl(184, 100%, 22%);
}

.btn-3{
    color: hsl(179, 100%, 13%);
}

@media only screen and (min-width: 768px){
    body{
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 0;
        margin-right: 0;
    }
    .contenido{
        flex-direction: row;
        max-width: 950px;
    }
    .card-1, .card-3, .card-2{
        padding: 50px;
    }
    p{
        line-height: 25px;
    }
    button{
        margin-top: 80px;
    }
}